<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Button</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Promoções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios" animated="true" placeholder="Buscar produto"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://static.cestasmichelli.com.br/images/product/22642gg.jpg?ims=750x750" />
      </ion-thumbnail>
      <ion-label>
        <h2>Cerveja Heineken</h2>
        <p>Aprecie com moderação</p>
      </ion-label>

      <ion-badge color="dark">R$ 6,95</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://img.irroba.com.br/fit-in/600x600/filters:format(webp):fill(fff):quality(80)/bebfesta/catalog/produtos/teste/beb-festa-cerveja-budweiser-600ml.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Cerveja Bud</h2>
        <p>Aprecie com moderação</p>
      </ion-label>

      <ion-badge color="dark">R$ 6,95</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://d2r9epyceweg5n.cloudfront.net/stores/001/043/122/products/cerveja-skol-1000-ml1-4201d3b09d8db9916f15676911862889-480-0.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Cerveja Skol</h2>
        <p>Aprecie com moderação</p>
      </ion-label>

      <ion-badge color="dark">R$ 4,50</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://choppbrahmaexpress.vtexassets.com/arquivos/ids/155702-800-800?v=637353454674430000&width=800&height=800&aspect=true" />
      </ion-thumbnail>
      <ion-label>
        <h2>Cerveja Brahma</h2>
        <p>Aprecie com moderação</p>
      </ion-label>

      <ion-badge color="dark">R$ 5,00</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://cdn.shoppub.io/cdn-cgi/image/w=1000,h=1000,q=80,f=auto/cenourao/media/uploads/produtos/foto/8d435efb2cb5588201.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Cerveja Antartica sub-zero</h2>
        <p>Aprecie com moderação</p>
      </ion-label>

      <ion-badge color="dark">R$ 3,85</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
