<ion-header>
  <ion-toolbar color="vmc">
    <ion-title class="ion-text-center">
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/ofertas">
          <img class="ofertas" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg3DYUduX2668P-9gzf0LKimHZEEExUz1xVQ&usqp=CAU">
          <ion-item color="dark">
            <ion-label class="titulo-promocao">Confira nossas promoções!</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/agua">
          <img src="https://media.cotabest.com.br/media/sku/agua-mineral-natural-com-gas-pet-500510ml-crystal-un.jpg">
          <ion-item color="light">
            <ion-label>Agua Mineral</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light" routerLink="/cerveja">
          <img src="https://img.freepik.com/fotos-gratis/uma-cerveja-espumosa-em-uma-ia-generativa-de-vidro-de-ouro_188544-12316.jpg?w=2000">
          <ion-item color="light">
            <ion-label>Cerveja</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/suco">
          <img src="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2015/08/06/istocksuco.jpg">
          <ion-item color="light">
            <ion-label>Suco</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light" routerLink="/refrigerante">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHa0ZrBojFrnVVsJ884pTFE480kh71UBZCaQ&usqp=CAU">
          <ion-item color="light">
            <ion-label>Refrigerante</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
